@import "../../styles/constants.css";

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	input {
		text-align: center;
		width: 100%;
		background-color: $ligthGrey;
		font-size: 15px;
		border-radius: 5px;
		height: 30px;
	}
}
